<cftry>
	<cfquery datasource="#masterDataSource#" name="deleteVersionInfo">
	delete from accountattributes
	where accountID = #url.ID#
	and attributename = 'MobileVersion'
	</cfquery>
	
	<cfquery datasource="#masterDataSource#" name="deleteVersionInfo">
	insert into accountattributes(accountID,attributename,attributevalue)
	values(#url.id#,'MobileVersion','#currentversion#')
	</cfquery>
	<cfcatch type="any">
	</cfcatch>
</cftry>
