<!---
<cfparam name="compressedoutput" default="">


<cfset tempFileName = GetTempFile(GetTempDirectory(), "gz_")>
<cffile action="WRITE" file="#tempFileName#" output="#compressedOutput#" addnewline="no">
<cfx_gzip action="gzip" Infile="#tempFileName#" outfile="#tempFileName#.gz" level="9">
<cffile action="delete" file="#tempFileName#">
<cfcontent deletefile="yes" file="#tempFileName#.gz" type="text/plain">
<cfif fileExists("#tempFileName#.gz")>
	<cffile action="delete" file="#tempFileName#">
</cfif>
--->