<cfset caller.compData=thistag.generatedcontent>

<CFIF CompareNoCase(ThisTag.ExecutionMode, "end") EQ 0>
	<cfset caller.compData=thistag.generatedcontent>
 	<cfset thistag.generatedcontent="">
</cfif>