<cfif j eq "RipItems">
	<cfset queryName = "RipItems">
	<cfquery name="#queryName#" datasource="#attributes.datasource#">
		SELECT *
	  	FROM RipItems
		ORDER BY RipID, ItemID
	</cfquery>
	<cfset queryColumnList = "RipID,ItemID">
</cfif>
