<cfif j eq "Rip">
	<cfset queryName = "Rip">
	<cfquery name="#queryName#" datasource="#attributes.datasource#">
		SELECT *
	  	FROM Rip
		ORDER BY RipID, Quantity
	</cfquery>
	<cfset queryColumnList = "RipID,RipNumber,Description,Quantity,Amount">
</cfif>
