<cfif j eq "Forms">
	<cfset queryName = "Forms">
	<cfquery datasource="#attributes.datasource#" name="#queryName#">
		SELECT CONVERT(varchar, FormID) 
		       + '^' + Description
		AS DataString 
		FROM Forms
	</cfquery>
	<cfset queryColumnList = "FormID,Description">

</cfif>
	