<cfif j eq "Division">
	<cfquery datasource="#attributes.datasource#" name="getDiv">
	select DivisionList
	from AccountPermissions
	where accountID = #url.id#
	</cfquery>
	<cfset queryName = "Division">
	
	<cfquery datasource="#attributes.datasource#" name="#queryName#">
		SELECT convert(varchar(3), DivisionID) 
		    + '^' + Description  As DataString
		FROM Division
		<cfif (getDiv.recordcount neq 0) and (trim(getdiv.DivisionList) neq "")>
		where DivisionID in (#getDiv.DivisionList#)
		</cfif>
	</cfquery>
<cfset queryColumnList = "divisionID,Description">
</cfif>
