
<cfif j eq "Items">
	<cfset queryName = "Items">
	<cfquery datasource="#attributes.datasource#" name="#queryName#">
		SELECT distributorSKU + ',' + convert(varchar(8), QTYOnHand) + ',' + convert(varchar(8), parlevel) As DataString
		from distributorItems
		where distributorID = #check_login.distributorID#
		and InvUpdateDate > #CreateODBCDateTime(url.lastupdate)#
	</cfquery>
<cfset queryColumnList = "DistributorSKU,QtyOnHand,parlevel">
</cfif>