<cfmodule template="/Common/other/logger.cfm" accountID="#url.ID#" accounttype="#getDatasource.accounttype#" moduletype="2">
<cfsetting enablecfoutputonly="yes">

<cftry>
	<cfquery datasource="#attributes.datasource#" name="updatepassword">
		Update Accounts
		set password = '#URL.cp#'
		where accountID = #url.ID#
	</cfquery>
	<cfcatch type="any">
		<cfset compressedOutput = 0>
	</cfcatch>
</cftry>
<cfif compressedOutput eq "">
	<cfset compressedOutput = URL.cp>
</cfif>

<cfinclude template="act_zipoutput2.cfm">